
/* BODY: Hintergrundfarbe, Schriftart, -groesse und -farbe */
/* BODY: background color, font, size and color */
body {
	font-family:Verdana, Arial, Helvetica, sans-serif; 
/*	font-size:10pt; */
	color:#000000; 
	/* background-image: linear-gradient(#EFC04F, #FFE08F); */ 
	/* background-attachment: fixed; */
	}
/*
/* LINK-Farbe - AUSSER bei der Bootstrap-Klasse "btn" für Buttons. Dort wird der Bootstrap-Standard benutzt. */
/* LINK-color - EXCEPT for Bootstrap button-class "btn". Use defaults there. */
/*a:not(.btn) { color:#000000; text-decoration:underline;}
a:not(.btn):link { color:#000000; } 
a:not(.btn):visited { color:#404040; }
a:not(.btn):active { color:#FF0000; }
a:not(.btn):hover { color:#FF0000; text-decoration:none; }*/

/* Willkommensnachricht (erster DIV)
   Welcome Message (first DIV) */
#sectionDescription > div:first-of-type {
    padding: 20px 5px;
    text-overflow: clip;
    overflow: auto;
    margin-top: 1.0em;
    max-height: 60vh;
}

#sectionExplanationPage {
    padding: 0px 0px;
    text-overflow: clip;
    overflow: auto;
    margin-top: 1.0em;
}


/* BOOTSTRAP */
.row {
	padding: 0.2em; 
}

/* Gestreifte Spalten in den Ergebnis-Listen
	Striped rows in results */
.mow-row-striped:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.05);
}

/*	FadeIn + FadeOut */

@keyframes myFadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes myFadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

/*	Using sup for notes to self */
sup {background: #fff;
	color: #ddd;}

#showQuestionsQuestion {
	padding-top: 1em !important;
}